/*NOTE:::::
ANY CSS IN THE ACTUAL JS FILE (I.E. FIRST-POST, COMPONENTS ETC) OVERRIDEs EXTERNAL CSS FILES SUCH AS THIS
CLASS BELOW 

E.g, the color blue below is overwritten in first-post.js by 'color:white;' */

.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    background-color:rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    border:5px solid rgb(136, 3, 3);
    
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
    color:red;
  }
