/*GLOBAL CSS:::  this overrides all CSS on all pages EXCEPT the actual component page 
E.G look at '.h3-header': blue here is overwritten by the styling on the  index.js file */

body {
    background-image: url('../public/images/dinosaur.jpg');
    background-size: 1400px;
    background-position: 1em 0 1em 0;
}
p {
    color:white;
}
* {
    box-sizing: border-box;
}